.home-banner {
    &-wr {
        position: relative;
        padding: 14rem 0;
        overflow: hidden;
        @include max(1200px) {
            padding-top: 8rem;
            padding-bottom: 4rem;
        }
        @include max(800px) {
            padding-top: 4rem;
            padding-bottom: 2rem;
        }
    }
    .bn {
        &-bg {
            position: absolute;
            z-index: -1;
            inset: 0;
            overflow: hidden;
        }
        &-img {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
    }
}

// .banner {
//     &-swiper {
//         position: absolute;
//         top: 50%;
//         left: 0;
//         right: 0;
//         transform: translateY(-50%);
//         height: 100%;
//         z-index: 2;
//     }
//     &-it {
//         height: 100%;
//         align-items: center;
//         .row {
//             align-items: center;
//         }
//     }
//     &-ctn {
//         margin-bottom: 9.4rem;
//         .hd {
//             font-family: 'SVN-Vantom';
//             font-size: 15rem;
//             font-weight: 400;
//             color: $color-second;
//             line-height: 0.88;
//         }
//         .title {
//             font-size: 7rem;
//             color: $color-sub-text;
//             line-height: 1.2;
//         }
//         .desc {
//             @include fz-16;
//             line-height: 1.5;
//             color: $color-sub-text;
//         }
//     }

//     &-thumbs {
//         .thumb {
//             &-swiper {
//                 max-width: 45rem;
//                 .swiper-slide.col-4 {
//                     max-width: 11.3rem;;
//                 }
//                 .swiper-wrapper {
//                     justify-content: space-between;
//                 }
//             }
//             &-it {
//                 @include imgPd(142,142);
//                 cursor: pointer;
//                 overflow: unset;
//                 img {
//                     @include imgCover;
//                     transform: translate(-50%, -50%) translateY(-5rem) scale(1.4);
//                 }
//                 &::after {
//                     content: '';
//                     position: absolute;
//                     bottom: 0;
//                     left: 50%;
//                     transform: translateX(-50%);
//                     width: 100%;
//                     height: calc(96/113*100%);
//                     background-color: $color-pri-dark;
//                     border-radius: 1.8rem;
//                     z-index: -1;

//                     transition: all 0.3s linear;
//                 }
//             }
//         }
//         .swiper-slide-thumb-active {
//             .thumb-it::after {
//                 background-color: $color-second;
//             }
//         }
//     }
    
//     &-swiper-gallery {
//         position: absolute;
//         top: 0;
//         right: 0;
//         width: 50%;
//         height: 100%;
//         overflow: hidden;
//         .gallery {
//             &-wr {
//                 overflow: hidden;
//             }
//             &-img {
//                 @include imgPd(1,1);
//                 transform: translateX(50%) scale(0) rotate(45deg);
//                 transform-origin: bottom right;
//                 transition: all 1s linear;
//                 .img-coc {
//                     @include imgCover;
//                     max-width: 68rem;
//                 }
//             }
//             &-circle {
//                 position: absolute;
//                 bottom: -20%;
//                 right: -10%;
//                 z-index: -1;
//                 transform: translateX(50%) scale(0);
//                 transform-origin: bottom right;

//                 // @include min (2000px) {
//                 //     bottom: -30%;
//                 //     right: 0%;
                    
//                 // }

//                 transition: all 1s linear;
//                 img {
//                     max-width: 78rem;
//                     width: 100%;
//                     transition: all 0.3s linear;
//                     // @include min (2000px) {
//                     //     width: 120%;
//                     // }
//                     @include max (1400px) {
//                         max-width: 58rem;
//                     }
//                     @include max (1200px) {
//                         max-width: 48rem;
//                     }
//                 }
//             }
//             &-decor {
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 img {
//                     width: 10.1rem; 
//                 }
//                 &.decor-coc-1 {
//                     img {
//                         width: 6rem;
//                     }
//                     top: 6rem;
//                     left: 55%;
//                 }
//                 &.decor-coc-2 {
//                     top: 26rem;
//                     left: 8rem;
//                 }
//             }
//         }

//         .gallery-wr.swiper-slide-active {
//             .gallery-img {
//                 transform: translateX(0) scale(1) rotate(0);
//             }
//             .gallery-circle {
//                 transform: translateX(0) scale(1);
//             }

//         }
//     }
//     &-pani {
//         position: absolute;
//         top: 50%;
//         left: 5.3rem;
//         transform: translateY(-50%);
//         z-index: 9;
//         @include flex-ct;
//         flex-direction: column;
//         align-items: center;
//         .swiper-button-next, .swiper-button-prev {
            

//         }
//         .swiper-button-next, .swiper-button-prev {
//             position: relative;
//             width: 4rem;
//             height: 4rem;
//             margin: 0;
//             border: 1px solid #fff;
//             border-radius: 50%;

//         }
//         .swiper-button-next:after, .swiper-button-prev:after {
//             font-family: "Font Awesome 5 Pro";
//             color: #fff;
//             @include fz-18;
//         }
//         .swiper-button-next:after {
//             content: '\f078';
//         }
//         .swiper-button-prev:after {
//             content: '\f077';
//         }
//         .swiper-button-prev, .swiper-rtl .swiper-button-next {
//             left: 0;
//             right: 0;
//         }
//         .swiper-button-next, .swiper-rtl .swiper-button-prev {
//             left: 0;
//             right: 0;
//         }
//         .swiper-pagination-total {
//             display: none;
//         }

//         .swiper-pagination {
//             margin: 2.4rem 0;
//             @include flex;
//             flex-direction: column;
//             align-items: center;
//             color: #fff;
//             @include fz-16;
//             line-height: 1.5;
            
//             .swiper-pagination-bullet {
//                 width: 2.4rem;
//                 height: 2.4rem;
//                 background-color: transparent;
//                 &:not(:last-child) {
//                     margin-bottom: 1.6rem;
//                 }
//                 &-active {
//                     width: 3.2rem;
//                     height: 3.2rem;
//                     @include fz-24;
//                     line-height: 1.3;
//                     font-weight: 700;
//                     color: $color-pri-dark;

//                 }
//             }
//         }
//     }
// }

.bnner {
    &-slide {
        position: relative;
        inset: 0;
        
    }
    &-swiper {
        height: 100%;
        &-wr {

        }
    }
    &-left {
        // height: 100%;
        .bnner {
            &-it {
                width: 50%;
                margin-bottom: 4rem;
                opacity: 0;
                transform: translateY(20%);
                transition: all 1s ease-in-out;

                @include max (1200px) {
                    margin-bottom: 2rem;
                }
                @include max(1000px) {
                    width: 60%;
                }
                @include max(800px) {
                    width: 100%;
                }
            }

            &-ctn {
                .hd {
                    font-family: 'SVN-Vantom';
                    font-size: 15rem;
                    font-weight: 400;
                    color: $color-second;
                    line-height: 0.88;
                    transition: all 0.3s linear;
                    
                    @include max (1200px) {
                        font-size: 10rem;
                    }
                    @include max (800px) {
                        font-size: 6rem;
                    }
                    @include max (375px) {
                        font-size: 4rem;
                    }
                }
                .title {
                    font-size: 7rem;
                    color: $color-sub-text;
                    line-height: 1.2;
                    white-space: nowrap;
                    transition: all 0.3s linear;


                    @include max (1200px) {
                        font-size: 5rem;
                    }
                    @include max (800px) {
                        font-size: 3rem;
                    }
                    @include max (375px) {
                        font-size: 2rem;
                    }
                }
                .desc {
                    @include fz-16;
                    line-height: 1.5;
                    color: $color-sub-text;
                    transition: all 0.3s linear;


                    @include max (375px) {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    &-right {
        position: absolute;
        bottom: -100%;
        right: 0;
        width: 50%;

        @include max (800px) {
            width: 100%;
            position: relative;
            padding: 0 15px;
        }
        .bnner-it {
            width: 100%;
            max-width: 68rem;
            margin: auto;
            opacity: 0;
            transform: translateX(100%) rotate(45deg);
            transition: all 0.8s ease-in-out;
            
            @include max (800px) {
                transform: translate(0, 10rem) rotate(0); 
                max-width: 38rem; 
            }

            &-img {
                @include imgPd (1,1);
                transition: all 0.5s ease-in-out;
                animation: bounce 1.5s infinite linear forwards;
                img {
                    @include imgCover;
                }
            }
        }
        
        .decor-coc {
            position: absolute;
            top: 0;
            left: 0;
           
            &.h-1 {
                img {
                    max-width: 6rem;
                    transition: all 0.3s linear;
                    
                    @include max (1000px) {
                        max-width: 5rem;
                    }
                    @include max (800px) {
                        max-width: 3rem;
                    }
                }
                top: 7%;
                left: 55%;
                transition: all 0.3s linear;
                animation: jelly 4s infinite linear forwards;


            }
            &.h-2 {
                img {
                    max-width: 10.1rem; 
                    transition: all 0.3s linear;
                    @include max (1000px) {
                        max-width: 6rem;
                    }
                    @include max (800px) {
                        max-width: 4rem;
                    }
                }
                top: 30%;
                left: 7%;
                transition: all 0.3s linear;
                animation: jelly 4s infinite linear forwards;

                @include max (800px) {
                    left: 10%;
                }
            }
        }
    }

    &-circle {
        @include imgPd (1,1);
        position: absolute;
        bottom: -35%;
        right: -25%;
        width: 100%;
        opacity: 0;
        transform: scale(0);
        transform-origin: bottom right;
        z-index: -1;
        transition: all 1s ease-in-out;

        @include max (800px) {
            bottom: 50%;
            right: 50%;
            transform: translate(50%, 50%);
        }
        img {
            @include imgCover;
        }
        
    }

    &-thumbs {
        width: 100%;
        .thumb {
            &-swiper {
                max-width: 36rem;
                padding-top: 8rem;
                overflow: hidden;
                .swiper-slide.col-4 {
                    max-width: 11.3rem;;
                }

                @include max (800px) {
                    padding-top: 4rem;
                    margin: 0 auto;
                }
            }
            &-it {
                @include imgPd(142,142);
                cursor: pointer;
                overflow: unset;
                img {
                    @include imgCover;
                    transform: translate(-50%, -50%) translateY(-5rem) scale(1.4);
                    
                    @include max(800px) {
                        transform: translate(-50%, -50%) translateY(-3rem) scale(1);

                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: calc(96/113*100%);
                    background-color: $color-pri-dark;
                    border-radius: 1.8rem;
                    z-index: -1;

                    transition: all 0.3s linear;
                }
            }
        }
        .swiper-slide-thumb-active {
            .thumb-it::after {
                background-color: $color-second;
            }
        }
    }
    &-pani {
        &-wr {
            transition: all 0.3s linear;
            @include max(1400px) {
                max-width: 123rem;
                width: 100%;
                padding: 0 15px;
                margin: 0 auto;
                position: relative;
                margin-top: 4rem;
            }
            @include max(800px) {
                margin-top: 2rem;
            }
        }
        position: absolute;
        top: 50%;
        left: 5.3rem;
        transform: translateY(-50%);
        z-index: 9;
        @include flex-ct;
        flex-direction: column;
        align-items: center;
        .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
            transform: none;
        }
        .swiper-button-next, .swiper-button-prev {
            position: relative;
            width: 4rem;
            height: 4rem;
            margin: 0;
            border: 1px solid #fff;
            border-radius: 50%;

        }
        .swiper-button-next:after, .swiper-button-prev:after {
            font-family: "Font Awesome 5 Pro";
            color: #fff;
            @include fz-18;
        }
        .swiper-button-next:after {
            content: '\f078';
        }
        .swiper-button-prev:after {
            content: '\f077';
        }
        .swiper-button-prev, .swiper-rtl .swiper-button-next {
            left: 0;
            right: 0;
        }
        .swiper-button-next, .swiper-rtl .swiper-button-prev {
            left: 0;
            right: 0;
        }
        .swiper-pagination-total {
            display: none;
        }

        .swiper-pagination {
            margin: 2.4rem 0;
            @include flex;
            flex-direction: column;
            align-items: center;
            color: #fff;
            @include fz-16;
            line-height: 1.5;
            
            .swiper-pagination-bullet {
                width: 3.2rem;
                height: 3.2rem;
                background-color: transparent;
                @include fz-16;
                @include flex-ct;
                align-items: center;
                justify-content: center;
                &:not(:last-child) {
                    margin-bottom: 1.6rem;
                }
                &-active {
                    // width: 3.2rem;
                    // height: 3.2rem;
                    @include fz-24;
                    line-height: 1.6;
                    font-weight: 700;
                    color: $color-pri-dark;

                }
            }
        }

        &.pani-mb {
            @include max(1400px) {
                position: relative;
                width: fit-content;
                top: unset;
                bottom: 0;
                left: 0;
                transform: none;
                flex-direction: row;
                @include max(1200px) {
                    left: 0;
                }
                @include max(800px) {
                    left: 50%;
                    transform: translateX(-50%);
                }
                .swiper-button-next, .swiper-button-prev {
                    flex-shrink: 0;
                }
                .swiper-pagination {
                    margin: 0 2.4rem;
                    flex-direction: row;
                    .swiper-pagination-bullet {
                        margin-bottom: 0;
                    }
                }
                .swiper-button-next:after {
                    content: '\f054';
                }
                .swiper-button-prev::after {
                    content: '\f053';
                }
            }
        }
    }
}

.swiper-slide.swiper-slide-active {
    .bnner {
        &-left {
            .bnner-it {
                @include min (1200px) {
                }
                opacity: 1;
                transform: none;
            }
        }
        &-circle {
            @include min (1200px) {
            }
            opacity: 1;
            transform: scale(1);
            
            @include max(800px) {
                transform: translate(50%, 50%) scale(1);
            }
        }
        &-right {
            .bnner-it {
                opacity: 1;
                transform: translateX(0) rotate(0);

            }
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0rem);
      }
    
      50% {
        transform: translateY(0.4rem);
      }
    
      100% {
        transform: translateY(0rem);
      }
}